<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Tareas</title>
  <link rel="stylesheet" href="static/main.css">
</head>
<body>
<br>
<button class="boton-izquierda">Botón Izquierda</button>
<br>
<div class="flex-container">
  <div class="post-it">
    <h2>Lista de Tareas 1</h2>
    <ul class="task-list">
      <li class="task-item">Hacer la compra</li>
      <li class="task-item">Llamar a María</li>
      <li class="task-item">Enviar informe</li>
      <li class="task-item">Hacer ejercicio</li>
    </ul>
  </div>

  <div class="post-it">
    <h2>Lista de Tareas 2</h2>
    <ul class="task-list">
      <li class="task-item">Revisar correo electrónico</li>
      <li class="task-item">Preparar presentación</li>
      <li class="task-item">Citar a cliente</li>
    </ul>
  </div>

  <div class="post-it">
    <h2>Lista de Tareas 3</h2>
    <ul class="task-list">
      <li class="task-item">Estudiar para el examen</li>
      <li class="task-item">Ir al gimnasio</li>
      <li class="task-item">Ordenar la habitación</li>
      <li class="task-item">Leer un libro</li>
    </ul>
  </div>
</div>

</body>
</html>
